export NIXPKGS_ALLOW_UNFREE=1
unset LD_LIBRARY_PATH
# impure set to allow use of NIXPKGS_ALLOW_UNFREE (terraform)
use flake --impure

if test -f ~/.ssh/id_ed25519; then
    export SOPS_AGE_KEY=$(ssh-to-age -i ~/.ssh/id_ed25519 -private-key)
fi

if test -f .env; then
  set -a
  source .env
  set +a
fi

export COMPANY_DOMAIN=satounki.com