/target
json-*
target
node_modules
vendor
.terraform
.ideaDataSources
*.db
*.sqlite
*.iml
*.ipr
*.iws
*.tfstate*
.idea
.direnv/
.env
dev.db*
process-compose.yaml
tunnel-credentials.json
tunnel-config.yaml
terraform/*/.terraform.lock.hcl
result